name: Book Deploy

on:
  release:
    types: [created]

jobs:
  docker-build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: buildx-${{ hashFiles('poetry.lock') }}
        restore-keys: buildx-${{ hashFiles('poetry.lock') }}

    #  This build and push step does the same thing as `make docker-build`, but
    #  makes it easier to store and load caches, which is why we use it instead
    - name: Build and Save Layers Locally
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./Dockerfile
        load: true
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache
        tags: python4compscience

    - name: List Available Images
      run: docker images

    - name: Make Docker HTML
      run: make docker-html

    - name: Make Docker PDF
      run: |
        make docker-pdf
        cp book/_build/latex/book.pdf book/_build/html/book.pdf

    # Deploy the book's HTML to gh-pages branch
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@bbdfb200618d235585ad98e965f4aafc39b4c501
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: book/_build/html

    - uses: marvinpinto/action-automatic-releases@10bdce64abdb4558a2ee6983192242be40d631d8
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        title: "Development Build"
        files: book/_build/latex/book.pdf
